<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="main">
  <mat-toolbar [ngClass]="{'heavy-shadow': scrollTopOffset > 0, 'toolbar': true }">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Diabetes Tracker</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #snav
      class="sidebar-nav"
      role="navigation"
      mode="side"
      fixedTopGap="56"
      [opened]="!mobileQuery.matches"
      fixedInViewport="true">
      <mat-nav-list>
        <mat-list-item disableRipple>
          <a routerLink="today" routerLinkActive="active-link">
            <mat-icon>show_chart</mat-icon>Today
          </a>
        </mat-list-item>

        <mat-list-item disableRipple>
          <a routerLink="last-seven" routerLinkActive="active-link">
            <mat-icon>show_chart</mat-icon>
            Last 7 Days
          </a>
        </mat-list-item>

        <mat-list-item disableRipple>
          <a routerLink="month" routerLinkActive="active-link">
            <mat-icon>show_chart</mat-icon>
            Last 30 Days
          </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content #sideNavContent>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
